.knowledgesContent {
                  min-height: var(--minHeight);
                  width: 100%;
                  height: 64vh;
                  position: relative;
                  overflow: hidden;
                  display: grid;
                  grid-template-columns: 0.8fr 1fr 1fr;
                  grid-template-rows: 70% 30%;
                 
}             
.languagesFrameworks, .experience, .otherSkills, .formation, .hobbies {
                    background: var(--clr-1);
                    border-radius: var(--radius);
                    padding: 1em;
                  }
 .knowledgesContent h3 {
                    font-size: 1.1em;
                    margin:1.2em 0 0.9em 0;
                    font-family: kalam, Georgia;
                    color: var(--clr-4);
                    text-transform: uppercase;
                  }
              
.languagesFrameworks {
                    grid-column: 1/2;
                    grid-row: 1/2;
                    margin-bottom: .5em;
                    display: grid;
                    font-family: vibes, 'Lucida Sans';
                    grid-template-columns: 1fr;
                    grid-template-rows: 1fr 1fr;
                    grid-template-areas: 
                      "L"
                      "F";
}
.languageDisplay {
                  grid-area: L;
                }
.frameworkDisplay {
                  grid-area: F;
                }
.frameworkDisplay  h3 {
                  margin: 2em 0 1.5em 0;
                }
          
.years {
                  font-size: 1em;
                  display: flex;
                  justify-content: space-between;
                  color: var(--clr-wit);
 } 
.years span{
                  width: 36%;    
 }  
.years span:nth-child(2){
                  text-align: center; 
                  width: 20%;
 }  
.years span:nth-child(3){
                  text-align: right;
                  width: 44%;
 }
 
.years span:nth-child(2)::before,
.years span:nth-child(3)::before{
                  content:'';
                  background: var(--clr-wit);
                  position: absolute;
                  height: 9em;
                  width: 0.1em;
                  transform: translate(9px, 19px);
 }
.languagesList {
                  padding-top: .5em;
 }
.languagesList li {
                    color: var(--clr-2);
 }
.progressBar {
                  height: .4em;
                  background: transparent;
                  border-radius: 50px;
                  margin-top: 0.2em;
                  position: relative;
 }
.progressBar::after{
                  content: '';
            position: absolute;
            background:yellow;
            border-radius: 50px;
            height: .4em;
            width: 0;
            animation: line 2s ease-out forwards;
}
@keyframes line {
                  to {
                    width: 100%;
                  }
 }
.experience {
                  grid-column: 2/4;
                  grid-row: 1/2;
                  margin: 0 0 .5em .5em;
                  display: grid;
                  overflow-Y: auto;  
                  grid-template-columns: 1fr;
                  grid-template-rows: auto auto auto auto auto auto;
                  grid-template-areas: 
                    "1"
                    "2"
                    "3"
                    "4"
                    "5"
                    "6"
                    "7"; 
                    overflow-Y: none;    
 }
.experience h3{
                  grid-area: 1;
 }                
.experience h4{
                  font-size: 1.1em;
                  color: var(--clr-5);
 }
.experience h5{
                  color: var(--clr-2);
                  padding: 0.5em;
 }
.experience p{
                  text-align: justify;
                  font-size: 1em;
                  padding: 0 1em;
 }
 .experience .exp-0{
  grid-area: 2;
}
.experience .exp-1{
                  grid-area: 3;
 }
 .experience .exp-2{
                  grid-area: 4;  
 }
 .experience .exp-3{
  grid-area: 5;
}
/* .experience .exp-4{
  grid-area: 6;  
}
.experience .exp-5{
  grid-area: 7;  
} */

.otherSkills {
                    grid-column: 2/3;
                    grid-row: 2/3;
                  margin-left: 0.4em;
                 
 }
.otherSkills .list{
                  display: flex;
        width: 90%;
        height: 100%;
        margin-right: 0.2em;
        justify-content: space-around;    
 }
.otherSkills .list ul{
                  height: 60%;
                  display: grid;
 }
 .otherSkills .list ul i{
                  color:var(--clr-3); 
                  font-size: 1.2em;
 }
.hobbies {
                  grid-column: 3/4;
                  grid-row: 2/3;
                  padding-left: 1.5em;
                  padding-bottom: 1.5em;
                  margin-left: 0.5em;
 }
 .hobbies ul{
                  height: 70%;
                  display: grid;
                  font-size: 1.2em;
 }
 .formation{
                    grid-column: 1/2;
                    grid-row: 2/3;
                    font-size: .8em;
                    overflow-Y: auto;  
                  
 }
.date{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.35fr 0.35fr;
  grid-template-rows: 0.3fr;
  justify-content:start;


 }
.date ul{
  height: 60%;
  width: 100%;
  display: grid;
}
.date ul li i{
  color:var(--clr-wit);
  font-size: 1em;
}
.font-date{
  font-size: 1em;
  font-style: italic;
  font-family: Vives, 'Times New Roman';
}
.font-date li{
  padding: 1.7em 0 1em 0;
}
.font-date ul li:nth-child(4) {
  padding: 3em 0 1em 0;
}
 @media screen and (max-width: 950px){
                  .knowledgesContent h3{
                      font-size: 1.2em !important;
                    }
                  .languagesList {
                      padding-top: .2em !important;
                    }
                  .knowledgesContent  p {
                      font-size: .8em;
                    }
                    .years span:nth-child(2)::before,
                    .years span:nth-child(3)::before{
                                      
                                      position: absolute;
                                      height: 8em;
                                      
                    } 
                  .otherSkills, .hobbies {
                      font-size: 1em;
                    }
}
@media screen and (max-width: 850px){
                  .knowledgesContent h4 {
                      font-size: 1.2em !important;
                    }
                  .knowledgesContent  h5 {
                      font-size: 1em !important;
                      padding: .4em 2em !important;
                    }
                    .formation{
                      font-size: 0.8em;
                    }
                    .font-date li{
                      padding: 1em 0 1em 0;
                    }
                    /* .years span:nth-child(2)::before,
                    .years span:nth-child(3)::before{
                                      
                                      position: absolute;
                                      height: 7em;
                                      
                    }  */
                  }
@media screen and (max-width: 590px){
                  .knowledgesContent {
                    display: initial;
                  }
                  .experience {
                      margin-left: 0 ;
                    }
                   .otherSkills {
                      margin-left: 0;
                      margin-right: 0;
                      margin-bottom: 0.5em;
                    }
                  .hobbies {
                      margin-left: 0;
                    }
                    .formation{
                      margin-left: 0;
                      margin-bottom: .5em;
                    }
                    .font-date li{
                      padding: .7em 0 1em 0;
                    }
                    .years span:nth-child(2)::before,
.years span:nth-child(3)::before{
                  
                  position: absolute;
                  height: 6em;
                  
} 
} 